* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff6f5;
}
.container {
  display: flex;
  min-height: 100vh;
}
.left {
  width: 60%;
  padding: 5% 15%;
}
.right {
  width: 40%;
  background-image: url(./images/hero-desktop.jpg);
}
.logo {
  margin-bottom: 100px;
}
.bg-mobile {
  display: none;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #413839;
  transform: translateX(-100%);
  animation: comingleft 0.5s ease forwards;
}

h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
p {
  color: #d7a4a9;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0;
  width: 80%;
  line-height: 1.5rem;
  transform: translateX(100%);
  animation: comingright 0.5s ease forwards;
}

form {
  position: relative;
  transform: translateX(-100%);
  animation: comingleft 0.5s ease forwards;
}
input {
  background-color: transparent;
  display: block;
  margin-top: 30px;
  width: 80%;
  height: 55px;
  padding: 1rem;
  border-radius: 30px;
  outline: none;
  border: 1px solid #dbcbcc;
  font-weight: 600;
  color: #716869;
  position: relative;
}
input::placeholder {
  color: #d7a4a9;
  font-weight: 600;
  opacity: 0.5;
}
.error-icon {
  position: absolute;
  top: 17%;
  right: 170px;
  display: none;
}
button {
  padding: 13px 40px;
  border: none;
  border-radius: 50px;
  background-color: hsl(0, 74%, 74%);
  position: absolute;
  top: 0;
  right: 15%;
  height: 55px;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: tomato;
}
small {
  color: hsl(0, 93%, 68%);
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  display: none;
}
form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}
form.error .error-icon {
  display: block;
}
form.error small {
  display: block;
}
/* Animations */
@keyframes comingleft {
  to {
    transform: translateX(0);
  }
}
@keyframes comingright {
  to {
    transform: translateX(0);
  }
}
@media (max-width: 678px) {
  .right {
    display: none;
  }
  .left {
    width: 100%;
    padding: 5% 10%;
  }
  .bg-mobile {
    display: block;
    margin-left: -15%;
    width: 150%;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  p {
    width: 100%;
  }
  input {
    width: 100%;
  }
  button {
    right: 0%;
  }
  .error-icon {
    right: 100px;
  }
  h1 {
    font-size: 2rem;
  }
}
