* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff6f5;
}
.container {
  display: flex;
  min-height: 100vh;
}
.left {
  width: 60%;
  padding: 5% 15%;
}
.right {
  width: 40%;
  background-image: url(./images/hero-desktop.jpg);
}
.logo {
  margin-bottom: 100px;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #413839;
}
h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
p {
  color: #d7a4a9;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0;
  width: 80%;
  line-height: 1.5rem;
}
form {
  position: relative;
}
input {
  background-color: transparent;
  display: block;
  margin-top: 30px;
  width: 80%;
  height: 55px;
  padding: 1rem;
  border-radius: 30px;
  outline: none;
  border: 1px solid #dbcbcc;
  font-weight: 600;
  color: #716869;
  position: relative;
}
input::placeholder {
  color: #d7a4a9;
  font-weight: 600;
  opacity: 0.5;
}
.error-icon {
  position: absolute;
  top: 17%;
  right: 170px;
  display: none;
}
button {
  padding: 13px 40px;
  border: none;
  border-radius: 50px;
  background-color: hsl(0, 74%, 74%);
  position: absolute;
  top: 0;
  right: 15%;
  height: 55px;
}
small {
  color: hsl(0, 93%, 68%);
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  display: none;
}
form.error input {
  border: 2px solid hsl(0, 93%, 68%);
}
form.error .error-icon {
  display: block;
}
form.error small {
  display: block;
}
